.classpath
.projectEntity
.factorypath
.settings/
target/
site/
venv/
.idea/
.mvn/
.m2/
VERSION
release.properties
pom.xml.releaseBackup
semver.sh
backend.iml
__pycache__
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/test/.DS_Store
mvnw
mvnw.cmd